.component-tab{
    height:100%;
    display: flex;
    align-items: center;
    padding-right: 35px;
    color: #99999F;
    transition: 0.2s;
    cursor: pointer;
    position: relative;

    &:hover{
        color: #666666;
    }

    &__caret{
        margin-left: 10px;
        padding-top: 5px;
    }
}